$main-black: #040D12
$green-one: #183D3D
$green-two: #5C8374
$green-three: #93B1A6
  
:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  background-color: $main-black

p
  color: $green-three
