*
  margin: 0
  padding: 0
  box-sizing: border-box

$main-black: #040D12
$green-one: #183D3D
$green-two: #5C8374
$green-three: #93B1A6
  
:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  background-color: $main-black

.input-template
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
  background: $green-one
  border: none
  border-radius: 0rem 1rem 0 1rem
  outline: none
  color: $green-three
  max-width: 99%
  min-width: 99%
  min-height: 3rem
  height: 3rem
  font-size: 1.1rem
  padding: .5rem

.main-container
  width: 99vw
  height: 100vh
  max-height: 100vh
  overflow: hidden
  display: grid
  grid-template-columns: 1fr 40% 1fr
  grid-template-rows: 100%

.first-menu
  height: 100%
  display: grid
  grid-template-columns: 50% 50%

.container-menu
  display: flex
  flex-direction: column
  gap: 1rem
  width: 80%

  &:hover
    .default-button
      &:hover
        cursor: pointer
      &:not(:hover)
        opacity: .5

    .tab
      &:hover
        cursor: pointer
      &:not(:hover)
        opacity: .5

.menu
  color: $green-three
  display: flex
  justify-content: center
  align-items: center
  width: 100%

.tabs
  @extend .menu
  flex-direction: column
  color: $green-one
  gap: .5rem
  width: 100%

  .tab
    display: flex
    background: $green-two
    font-weight: bold
    border-radius: 0 1rem 0 1rem
    transition: .2s
    width: 100%
    justify-content: space-between

    .tab-name
      max-width: 100%
      width: 100%
      padding: .5rem .5rem .5rem 1rem

      div
        overflow: hidden
        max-width: 100%
      
    .tab-x
      display: flex
      flex-direction: column
      align-items: flex-end
      padding: .5rem .5rem .5rem 1rem

      &:hover
        svg
          stroke: $green-three

      img
        width: 60%

button 
  transition: .2s

.checklists
  color: $green-three
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

  .check
    text-align: center

  .button-check
    align-self: center
    width: 50%

main
  margin: 1rem
  justify-self: center

.container-form
  width: 100%

  form
    max-height: 100%
    overflow-y: hidden 
    display: flex
    flex-direction: column
    font-size: 1.2rem
    text-align: justify
    margin: 0 0 1rem
    
    &:hover
      overflow-y: scroll
      scroll-behavior: smooth

    h2
      color: $green-two
      text-align: center
      text-transform: uppercase
      letter-spacing: .5rem

    .container-question
      display: flex
      flex-direction: column
      color: $green-three

      textarea
        @extend .input-template

.default-button
  background: $green-one
  color: $green-three
  padding: 1rem
  border: none
  border-radius: 1rem 0 1rem 0
    

.ReactModal__Overlay
  display: flex
  align-items: center
  justify-content: center

.ReactModal__Content
  border: 2px solid red
  width: 50%
  height: 50%

.container-modal
  height: 100%
  display: flex
  flex-direction: column
  color: $green-three
  justify-content: space-evenly

  h2
    text-align: center
    font-size: 1.5rem
    text-transform: uppercase

  .container-nfield
    display: flex
    flex-direction: column
    gap: .5rem

    label
      font-size: 1.3rem

    input
      @extend .input-template
  
  .buttons
    display: flex
    justify-content: space-evenly

    button
      &:hover
        cursor: pointer

    .cancel
      background: #400C0C
      color: #F44E4E

    .confirm
      background: $green-two
      color: $main-black

    




